.main {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.top-div {
  width: 100%;
  height: 700px;
  background-color: #eeeff1;
  margin: 0 auto;
  padding-left: 399px;
}

.content {
  padding-top: 257px;
  padding-left: 65px;
}

.top-dev-header {
  font-weight: 500;
  font-size: 48px;
}

.top-div-text {
  font-weight: 400;
  font-size: 16px;
  width: 540px;
}

.btn-default {
  background-color: #34547a;
  color: white;
  width: 225px;
  height: 65px;

  border: none;
}

.primary {
  background-color: #34547a;
}

ul {
  width: 100%;
  list-style-type: none;

  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #34547a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.about {
  width: 100%;
  height: 300px;
  text-align: center;
}

.centred-header {
  font-size: 32px;
  padding-top: 112px;
}

.centered-text {
  margin: 0 auto;
  width: 540px;
  font-size: 16px;
  padding-top: 50px;
}

.container {
  height: 250px;
  background-color: #34547a;
}

.video-div {
  width: 100%;
  height: 1004px;
  text-align: center;
  margin: 0 auto;
}

.video-container {
  margin: 0 auto;
  padding-top: 57px;
  padding-block-end: 57px;
  width: 1110px;
  height: 600px;
}

.end-div {
padding-top: 50px;
height: 151px;
background-color: #34547a;
text-align:left
}

.end-text{
    padding-left: 406px;
    color: white;
}

